* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 246, 5, 1) 0%, rgba(245, 139, 139, 1) 100.3%);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

footer {
    font-size: 3.2rem;
    color: #dbeef4;
    font-family: sans-serif;
}

.txt {
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-block;
}
    

h1 {
    font-size: 5rem;
    text-shadow: 6px 0 #f5a110;
    color: #ffffff;
    font-family: "Arvo", cursive;
    border-bottom: 5px solid white;
    border-radius: 10px;
}

.box {
    margin: 10% auto;
}

.w {
    background-image: url(./Assets/images/tom1.png);
}

.a {
    background-image: url(./Assets/images/tom2.png);
}

.s {
    background-image: url(./Assets/images/tom3.png);

}

.d {
    background-image: url(./Assets/images/tom4.png);
}

.j {
    background-image: url(./Assets/images/kick.png);
}

.k {
    background-image: url(./Assets/images/crash.png);
}

.l {
    background-image: url(./Assets/images/snare.png);
}


.drum {
    height: 150px;
    width: 150px;
    border: 8px solid #404b69;
    border-radius: 12px;
    color: #da0363;
    font-size: 5rem;
    text-shadow: 3px 0 #dbeef4;
    margin: 10px;
    line-height: 2;
    outline: none;
    background-color: white;
    text-align: center;
    font-weight: 900;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}